extends ./components/layout.pug

block content
  link(rel="stylesheet", href="/styles/index.css")
  header
    h1 Gestão de Expedientes
    nav
      a(href="/calendar") Calendário de Expedientes
      a(href="/employees-schedule") Agenda de Funcionários

