.search {
  margin: 32px 0;
  display: flex;
  justify-content: center;
}

.search form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  text-align: left;
}

.search p {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.search input,
select {
  flex: 1;
}

.search button {
  width: 100%;
}

.checkboxes {
  display: flex;
  align-items: center;
  gap: 16px;
}
